:root {
  --ob-colour-focus: #{$newport-background-primary-blue};
  --ob-colour-hover: #{$gray-border-primary};
  --ob-colour-checked: #{$blue-background-primary};
  --ob-font-size-text-medium: #{$font-size-5}; // 1rem
  --ob-line-height-text: #{$line-height-text}; // 1.5
}